<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<h1>Cart</h1>
<table class="table">
<%= render @cart %>
    <tr class="total_line">
      <td> </td>
      <td colspan="2">Total</td>
      <td class="total-price"><%= number_to_currency(@cart.total_price) %></td>
    </tr>

</table>
<%= link_to raw('<i class="icon-remove"></i> Empty'), @cart, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-small btn-danger" %>
<%= link_to raw('<i class="icon-arrow-left"></i> Back to Catalog'), root_path, class: "btn btn-small btn-primary"  %>
<%= link_to raw('<i class="icon-ok"></i> Checkout'), new_order_path, class: "btn btn-small btn-success"  %>
