<h1>Products</h1>

<table class="table table-striped">
  <tr>
    <th> </th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Controls</th>
  </tr>

  <% @products.each do |product| %>
    <tr class="entry">
      <td>
          <%= image_tag(product.image_url, class: 'img-polaroid') %>
      </td>
      <td><%= product.title %></td>
      <td><%= product.description %></td>
      <td class="price"><%= number_to_currency(product.price) %></td>
      <td>
        <div class="displace">
        <%= link_to raw('<i class="icon-search"></i> Show'), product_path(product), class: "btn btn-small" %><br/>
        <%= link_to raw('<i class="icon-edit"></i> Edit'), edit_product_path(product), class: "btn btn-small" %><br/>
        <%= link_to raw('<i class="icon-delete"></i> Delete'), product, method: :delete,
          data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger" %>
        </div>
      </td>
    </tr>

  <% end %>
</table>

<%= link_to "Add Product", new_product_path %>