<h1 class="title"><%= @product.title %></h1>

<ul>
  <li><%= @product.description %></li>
  <li><%= @product.image_url %></li>
  <li class="price"><%= number_to_currency(@product.price) %></li>
</ul>

<%= link_to raw('<i class="icon-edit"></i> Edit'), edit_product_path(@product),class: "btn btn-small" %><br/>