<h1 class="title"><%= @product.title %></h1>

<ul>
  <li><%= @product.description %></li>
  <li><%= @product.image_url %></li>
  <li><%= @product.price %></li>
</ul>

<%= link_to "Edit", edit_product_path(@product) %>